@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.nav-link{
	margin-right: 15px;
	color:rgb(48, 13, 112);
	margin-top: auto;
	letter-spacing: 0.5px;
	transition: 0.5s;
}
.navbar-brand{
	color: #3822b6;
	letter-spacing: 0.5px;
}
h2{
	color: #3822b6;
	letter-spacing: 0.5px;
	font-family: Verdana;
}